# =============== #
# Unity generated #
# =============== #

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
Assets/_Recovery/
Assets/TextMesh Pro/Examples & Extras/

# Crash reports and temporary files
MemoryCaptures/
sysinfo.txt

# ============ #
# Cache folders #
# ============ #

# Shader cache
*.shadercache


# GI cache
[Aa]sset[Ss]tore/
Assets/AssetStoreTools*
Assets/StreamingAssets/aa/
Assets/StreamingAssets/AssetBundles/

# ================= #
# Build Artifacts   #
# ================= #

*.apk
*.aab
*.xcodeproj/
*.xcworkspace/
*.xcuserstate
*.xcuserdata/
*.ipa
*.exe
*.dll
*.app
*.so
*.dylib
*.bundle

# ============ #
# IDE settings #
# ============ #

.vscode/
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# JetBrains Rider
*.DotSettings.user

# ============ #
# OS-specific  #
# ============ #

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
.nfs*

# ============ #
# Other        #
# ============ #

# Package manager cache
Packages/com.unity.package-manager-do-not-modify/

# Plastic SCM
PlasticSCM/

# Uncomment if you use Addressables and want to ignore cache
# /Library/com.unity.addressables/

# Ignore Unity Collaborate files
.collabignore